.container
{
    -webkit-box-shadow: 2px 14px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 14px 23px 5px rgba(0,0,0,0.75);
    box-shadow: 2px 14px 23px 5px rgba(0,0,0,0.75);
}
.header
{
    display: flex;
    justify-content: flex-start;
    background-color: #070911;
    height: 20%;
    padding: 1% 0% 1% 4%;
    color:white;
   
}
.button-line
{
    display: flex;
    justify-content: space-between;
    
}
.icon-line
{
    display: flex;
    justify-content: space-between;
    padding-top:0.5%; 
    padding-left: 60%;
}

 .icon
 {
     padding-left: 19%;
 }